*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: linear-gradient(to bottom, #0098d9, #061540);
  background-color: #061540;
  background-repeat: no-repeat;
}

header {
  position: relative;
  top: 0;
}

footer {
  margin-top: 10vh;
  bottom: 0;
}

.row-center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.col-s12-m2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  text-align: center;
  background-color: rgba(266, 266, 266, 0.1);
  border-radius: 25px;
  margin-bottom: 20px;
}